
.text-dark{
    font-weight: 500;
    font-size: 18px;
}
.BG-color{
    background-color: rgba(165, 42, 42, 0.05);
}
/* .logo img{
    
    width: 50px;
    height: 50px;
    margin-left: -2000%;
} */