.image-style{
    height: 250px;
    width: 325px;
    border-radius: 0px 30% 0px 10px;
    margin-top: 20px;
    margin-bottom: 10%;
    border: 1px solid rgba(165, 42, 42, 0.507);
}
.image-style:hover{
    border: 3px solid brown;
    box-shadow: 10px 5px 10px rgba(165, 42, 42, 0.39);
}
