.footer-style{
    color: black;
    background-color: rgba(165, 42, 42, 0.185);
    margin-bottom: 0px;
    padding-top: 8px;
    margin: 0px;
    border:2px solid #9b0f0f79;
    border-radius: 40% 5% 15% 0%;
  }
  .footer-img img{
    margin: 20px;
    height: 200px;
    width: 400px;
    border-radius: 10px;
  }
  .footer-one{
      margin-top: 40px;
      text-shadow: 2px 2px #9b0f0f79;
  }
  .footer-one h4{
      font-weight: bold;
  }
  .footer-two{
      margin-top: 40px;
      text-shadow: 2px 2px #9b0f0f79;
  }
  .footer-two h4{
      font-weight: bold;
  }
  .footer-style h5{
      font-weight: bold;
      text-shadow: 2px 2px #9b0f0f79;
  }