@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  /* background-color: blue; */
}
.App {
  text-align: center;
  
}
.App p{
  font-weight: 500;
}
